*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #9f6bcf;

    --clr-light-intro: #fff;
    --clr-dark-intro: #303030;
    --clr-footer-header: #1f1e1e;
    --clr-custom-icon: rgb(54, 54, 54);

    --border-bottom: rgba(185, 185, 185, 0.5);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1 rem;
    --fs-small : 1.2rem;

    --transition: all 0.3s linear;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 3.5rem 5rem;
    width: 85vw;
    margin: 0 auto;
}

h1,
h2,
h3 {
    line-height: 1.1;
    text-transform: capitalize;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

/* ---------------------- NavBar ----------------------------- */

header {
    background-color: var(--clr-footer-header);
    border-bottom: 1px solid var(--border-bottom);
    margin: 0;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 3.5rem;
}

.nav__link {
    text-transform: capitalize;
    color: var(--clr-light-intro);
}

.active {
    color: var(--clr-accent);
}

.navbar {
    visibility: hidden;
}

.navbar-show {
    visibility: visible; 
    margin: 0px -20px;
    padding: 1rem;
    background-color: var(--clr-footer-header);
}

.nav-small {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-content: center;
}

.nav-toggle, .theme-btn {
    color: var(--clr-accent);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
}

.dark-mode{
    --clr-light: #303030;
    --clr-dark: #fff;
    --clr-custom-icon: #ededed;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@media (min-width: 800px) {

    header {
        display: flex;
        justify-content: space-between;
        height: max-content;
    }

    .navbar {
        visibility: visible;
    }

    .nav__list {
        display: flex;
        column-gap: 20px;
    }

    .navbar-show {
        margin: 0;
        padding: 0;
        background-color: var(--clr-footer-header);
    }

    .nav-toggle {
        display: none;
    }

    .theme-btn {
        font-size: 1.8rem;
    }
}

/* ---------------------- End of NavBar ----------------------------- */


@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75tem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125 rem;
    }
}

/* ---------------------- My Work ----------------------------- */

.my-cv-btn {
    display: inline-block;
    padding: .5em 1.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.my-cv-btn:hover{
    color: var(--clr-light);
    transition: var(--transition);
}

.img-box {
    width: 400px;
    height: 200px;
    box-shadow: 1px 1px 5px var(--clr-dark);
    position: relative;
    overflow: hidden;
    flex-basis: 400px;
}

.my-work-img {
    width: 400px;
    height: 200px;
    z-index: 1;
    position: absolute;
    object-fit: cover;
}

.image-info {
    position: absolute;
    background: var(--clr-accent);
    width: 400px;
    height: 200px;
    top: 200px;
    font-size: 1.5rem;
}

.img-box:hover img {
    transform: translateY(-100%);
    transition: all 0.35s ease;
}

.img-box:hover .image-info {
    transform: translateY(-100%);
    transition: all 0.35s ease;
}

.portfolio {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.mywork::after {
    content: '';
    display: block;
    height: 150px;
}

/* ---------------------- End of My Work ----------------------------- */

/* ---------------------- Intro ----------------------------- */

.section__title {
    text-transform: capitalize;
}

.section__title--intro, .intro__descrip {
    color: var(--clr-light-intro);
}

.section__subtitle--intro,
.section__subtitle--about {
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-transform: capitalize;
}

.section__subtitle--intro {
    margin-top: -30px;
}

.section-container {
    background-color: var(--clr-dark-intro);
}

.intro {
    display: flex;
    max-width: 85vw;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
}

.intro__img {
    align-self: center;
    order: 0;
    max-width: 200px;
}

.intro__section2 {
    min-width: 200px;
    order: 1;
}

.section__subtitle--intro {
    color: var(--clr-accent);
}

/* ---------------------- End of Intro ----------------------------- */

/* ---------------------- About me ----------------------------- */

.about {
    text-align: justify;
}

.contact {
    margin-top: 5rem;
}

.contact-details {
    padding-top: 1.5rem;
}

.contact-details div, .contact-details a {
    line-height: 2rem;
}

.email_style {
    color: var(--clr-dark);
}

/* ---------------------- End of About me ----------------------------- */

/* ---------------------- Qualifications ----------------------------- */

.qualifications__body-section {
    display: flex;
    gap: 2.5rem; 
    padding-bottom: 3rem;
}

.section__subtitle--qualifications {
    width: 200px;
    padding-bottom: 5px;
    border-bottom: 1.5px solid var(--clr-accent);
    align-self: flex-start;
}

.skills-list {
    padding: 0;
    columns: 100px 2;
}

.skills-list li {
    padding: 0 8px 8px 0;
}

[class ^="edu-"] {
    padding-bottom: 2rem;
}

/* ---------------------- End of Qualifications ----------------------------- */



@media (max-width: 850px) {
    .intro {
        flex-wrap: wrap;
    }

    .intro h1,
    .intro p {
        margin: 0 auto;
        text-align: center;
    }

    .section__subtitle--intro {
        padding-bottom: 10px;
    }

    .intro__img {
        order: 1;
        width: 140px;
    }

    .intro__section2 {
        order: 0;
    }

    .qualifications__body-section {
        flex-direction: column;
        gap: 1rem;
    }

    .skills-list {
        columns: 1;
        padding-left: 1.5rem;
    }

    .skills-list li {
        font-size: var(--fs-small);
        list-style-type: square;
    }

}

@media (max-width: 640px){
    .img-box {
        width: 250px;
        height: 125px;
        flex-basis: 250px;
    }

    .my-work-img {
        width: 250px;
        height: 125px;
    }

    .image-info {
        width: 250px;
        height: 125px;
        top: 125px;
        font-size: 1rem;
    }
}

/* ---------------------- Footer ----------------------------- */

footer {
    background-color: var(--clr-footer-header);
    display: flex;
    flex-direction: column;
    position: relative;
}

footer div {
    display: flex;
    justify-content: center;
}

footer span {
    color: var(--clr-light-intro);
    opacity: 0.4;
}

.socials-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.social-icon, .up-arrow {
    font-size: 1.8rem;
    background: transparent;
    border-color: transparent;
}

.up-arrow {
    position: absolute;
    top: -3rem;
    right: 1rem;
}

.up-arrow a {
    color: var(--clr-custom-icon);
    opacity: 0.6;
}

.up-arrow a:hover {
    color: var(--clr-accent);
}

.social-list__item a {
    color: var(--clr-accent);
    opacity: 0.4;
}

/* ---------------------- End of Footer ----------------------------- */

